<div class='create-content'>
  <%= link_to "New Thread", new_topic_path %>
</div>
<div id='thread-list'>
  <% @topics.each do |topic| %>
  <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 topic listing'>
    <div class='inner-topic panel'>
      <img class='img-responsive thumbnail' src=<%= topic.image_url %>>
      <p class='title'>
        <%= link_to topic.title, topic_path(topic), title: topic.title %>
      </p>
      <small>
        by <%= link_to topic.user.username, user_path(topic.user.username)%>
        <%= time_ago_in_words(topic.created_at) %> ago

        <% if current_user == topic.user %>
          <%= link_to 'Delete', topic_path(topic), method: :delete, data: {confirm: 'Delete this thread?'} %>
        <% end %>
      </small>
    </div>
  </div>
  <% end %>
</div>
