<div class='create-content'>
  <%= link_to "New Thread", new_topic_path %>
</div>
<div id='thread-list'>
  <% @topics.each do |topic| %>
  <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 panel topic listing'>
    <div >
      <img class='col-lg-3 col-md-4 col-sm-4 col-xs-6 img-responsive thumbnail' src=<%= topic.image_url %>>
      <p><%= link_to topic.title, topic_path(topic) %></p>
      <small>Posted by <%= topic.user.username %>
      <%= time_ago_in_words(topic.created_at) %> ago</small>
    </div>
  </div>
  <% end %>
</div>
