<div class='create-content'>
  <%= link_to 'New Post', new_topic_post_path(@topic) %>
</div>

<div id='posts'>
  <div class='listing'>
    <p><%= link_to @topic.user.username, user_path(@topic.user.username) %> on <%= @topic.created_at.in_time_zone(-8) %></p>
    <p><%= @topic.content %></p>
  </div>

  <% @topic.posts.order("created_at ASC").each do |post| %>
    <div class='listing'>
      <p>
        <%= link_to post.user.username, user_path(post.user.username) %> on <%= post.created_at.in_time_zone(-8) %>
        <% if current_user == post.user %>
          <%= link_to 'Edit', edit_topic_post_path(@topic, post) %>
          <%= link_to 'Delete', topic_post_path(@topic, post), method: :delete, data: {confirm: 'delete this post?'} %>
        <% end %>
      </p>
      <p><%= post.content %></p>
    </div>
  <% end %>
</div>
