<h1>Edit post</h1>
<div class='canvas container'>
  <canvas id='create-canvas' width='400' height='400'></canvas>
</div>

<!-- figure out how to DRY this file; it's nearly the same as new.html.erb
except for the form routing -->
<%= form_for([@topic,@post], url: topic_post_path(@post.topic, @post), html: {method: 'patch'}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Text' %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div>
    <%= f.hidden_field :image_url %>
  </div>
  <div class="actions">
    <%= f.button :class => "btn btn-primary" do %>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Post
    <% end %>
  </div>
<% end %>

